# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WolfEggs.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kopko\Documents\WolfEggs\.idea\.idea.WolfEggs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
